---
import * as styles from "./index.css"
---

<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Advent 2024</title>
</head>
<body class={styles.body}>
  Hello
</body>
</html>